@use "../../styles/partials/variables" as *;

.header-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: $color-background-secondary;
    border-bottom: 1px solid $color-accent-primary;
    margin-bottom: 1rem;

    &__title {
        color: $color-text-primary;
        margin-left: auto;
        margin-right: auto;
    }
}