@use './styles/partials/typography' as *;
@use './styles/partials/variables' as *;
@use './styles/partials/global' as *;


.root {
    height: 100vh;
    background-color: #000000;
    background-image: linear-gradient(360deg, #000000 0%, #04619f 74%);
}