@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.catch {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__sentence {
        font-weight: normal;
        color: $color-fail;
        padding-bottom: 1rem;
    }

    &__button {
        @include button;
        text-decoration: none;
    }
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__info-card {
        width: 100%;
        padding: 1rem;
        border-radius: 0.25rem;
        font-size: 1rem;
    }

    &__about {
        padding: 0rem 1rem 1rem;
    }

    &__edit-link {
        height: 1rem
    }

    &__edit-button {
        @include button;
        border-radius: 0.25rem;
    }

    &__user-name {
        font-weight: bold;
    }

    &__link-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    &__link {
        color: $color-text-primary;
        background-color: $color-background-secondary;
        padding: 1.5rem;
        border: 0.01rem solid $color-success;
        width: 100%;
        text-decoration: none;
        text-align: center;
        text-transform: lowercase;
        text-decoration: none;
        
        &:visited {
            text-decoration: none;
        }

        &:hover {
            background-color: $color-accent-secondary;
        }
    }

    &__logout {
        @include button;
    }
}