@use '../../styles/partials/variables' as *;

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__info-card {
        width: 100%;
        padding: 1rem;
        border-radius: 0.25rem;
        // margin: 1rem 0rem;
        box-shadow: 0px 0px 10px 0.1px $color-background-secondary;
        font-size: 1rem;
    }

    &__personal-details {
        padding: 1rem 0rem;
        // border-bottom: 1px solid $color-accent-primary;
        // border-top: 1px solid $color-accent-primary;
    }

    &__user-name {
        font-weight: bold;
    }

    &__link-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    &__link {
        background-color: $color-background-secondary;
        padding: 0.5rem;
        border: 0.01rem solid $color-success;
        width: 100%;
        text-align: center;
        text-transform: lowercase;
        text-decoration: none;
        
        &:visited {
            text-decoration: none;
            color: $color-text-tertiary;
        }

        &:hover {
            background-color: $color-accent-secondary;
        }
    }

    &__logout {
        padding: 0.25rem 1rem;
        margin-top: 2rem;
        background-color: $color-background-secondary;
        border: none;
        font-family: 'Montserrat';
        font-size: 0.75rem;
        color: $color-text-secondary;
    }
}