@use '../../styles/partials/variables' as *;

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__info-card {
        width: 80%;
        padding: 1rem;
        border-radius: 1rem;
        margin: 1rem 0rem;
        box-shadow: 0px 0px 10px 0.1px $color-accent-secondary;
        font-size: 0.75rem;
    }

    &__personal-details {
        padding: 1rem 0rem;
        border-bottom: 1px solid $color-accent-primary;
        border-top: 1px solid $color-accent-primary;
    }

    &__user-name {
        font-weight: bold;
    }
}