@use '../../styles/partials/variables' as *;

.display-pic {
    position: relative;

    &__image {
        width: 100%;
        height: 20rem;
        border-radius: 0.25rem;
        // margin: 1rem 0rem;
        box-shadow: 0px 0px 10px 0.1px $color-background-secondary;
        // position: absolute;    
    }

    &__details {
        position: absolute;
        bottom: 2rem;

        &--name {
            font-weight: bold;
            font-size: 2rem;
            padding-bottom: 1rem;
        }

        &--cert {
            font-weight: bold;
        }

        &--exp{
            font-weight: bold;
        }
    }
}