@use '../../styles/partials/variables' as *;

.display-pic {
    position: relative;

    &__image {
        width: 22rem;
        height: 22rem;
        object-fit: cover;
        border-radius: 0.25rem;
        box-shadow: 0px 0px 10px 0.1px $color-background-secondary;
    }

    &__details {
        position: absolute;
        bottom: 2rem;
        padding-left: 1rem;

        &--name {
            font-weight: bold;
            font-size: 2rem;
            padding-bottom: 1rem;
        }

        &--cert {
            font-weight: bold;
        }

        &--exp{
            font-weight: bold;
        }
    }
}