@use '../../styles/partials/variables' as *;

.profile-picture {
    width: 100%;
    border-radius: 0.25rem;
    // margin: 1rem 0rem;
    box-shadow: 0px 0px 10px 0.1px $color-background-secondary;
}