@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.edit {
    display: flex;
    flex-direction: column;
    
    &__title {
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__about-label {
        text-align: center;
        margin-top: 1rem;
        padding-bottom: 0.5rem;
    }

    &__about-input {
        resize: none;
        border-radius: 0.75rem;
        font-family: 'Montserrat';
        padding: 0.75rem;
        outline: none;
    }

    &__button {
        @include button;
        height: 2rem;
        width: 6rem;
        margin-left: auto;
    }
}