@use './variables' as *;

*,
**::before,
**::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: $color-text-primary;
  margin: 0rem;
  background-color: $color-background-primary;
}

p {
  margin: 0rem;
}
