@use './variables' as *;

*,
**::before,
**::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: $color-text-primary;
  margin: 0rem;
  background-color: $color-background-primary;
  // background-image: url('../../assets/photos/kiril-dobrev-8cQpL8kGqso-unsplash.jpg');
  // background-position: right top;
  // background-size: 60rem;
  // background-repeat: no-repeat;

  // background-color: #2884b8;
  // background-image: linear-gradient(360deg, #2884b8 0%, #d1bad2 74%);
  // background-size: contain;
  // background-position: center;
  // background-repeat: no-repeat;
}

p {
  margin: 0rem;
}
