// colors

$color-text-primary: #FFF;
$color-text-secondary: #00A6FB;
$color-text-tertiary: #b6b6b6;

$color-background-primary: #051923;
$color-background-secondary: #003554;

$color-accent-primary: #0582CA;
$color-accent-secondary: #006494;

$color-success: rgb(185, 255, 185);
$color-fail: rgb(253, 152, 115);