// colors

$color-text-primary: #FFF;
$color-text-secondary: #00A6FB;
$color-text-tertiary: #D3D3D3;

$color-background-primary: #051923;
$color-background-secondary: #003554;

$color-accent-primary: #0582CA;
$color-accent-secondary: #006494;