@use "../../styles/partials/variables" as *;

.sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        color: $color-text-primary;
        font-weight: bold;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 10rem;
    }

    &__input {
        border: none;
        border-radius: 2rem;
        padding: 0.1rem 1rem;
        margin: 0.25rem;


        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $color-text-tertiary;
            font-family: 'Montserrat';
            font-size: 0.65rem;

        }
    }

    &__email {
        border: none;
        border-radius: 2rem;
        padding: 0.1rem 1rem;
        margin: 0.25rem;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $color-text-tertiary;
            font-family: 'Montserrat';
            font-size: 0.65rem;

        }
    }

    &__password {
        border: none;
        border-radius: 2rem;
        padding: 0.1rem 1rem;
        margin: 0.25rem;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $color-text-tertiary;
            font-family: 'Montserrat';
            font-size: 0.65rem;

        }
    }

    &__button {
        font-family: 'Montserrat';
        border: none;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        background: $color-accent-primary;
        color: $color-text-primary;
        margin: 0.5rem;

        &:hover {
            background-color: $color-accent-secondary;
        }
    }

    &__span {
        color: $color-text-primary;
        font-weight: bold;
        margin: 0.5rem;
    }
}