@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        color: $color-text-primary;
        font-weight: bold;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 10rem;
    }

    &__email {
        @include input;
    }

    &__password {
        @include input;
    }

    &__button {
        @include button;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
    }

    &__span {
        color: $color-text-primary;
        font-weight: bold;
        margin: 0.5rem;
    }

    &__success {
        color: $color-success;
    }

    &__error {
        color: $color-fail;
    }
}