@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.data {
    // background-color: rgb(62, 64, 216);

    &__titles {
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;
    }

    &__title {
        width: 20%;
        margin: 1rem 0rem;
    }

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 20%;
    }
}