@use '../../styles/partials/variables' as *;

.buddy-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__tindercard {
        position: absolute;
        top: 8rem;
    }
    
    &__picture {
        position: absolute;
    }
}