@use "../../styles/partials/variables" as *;

.header-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: $color-background-secondary;
    border-bottom: 1px solid $color-accent-primary;
    margin-bottom: 1rem;

    &__link {
        padding-left: 1rem;
    }

    &__title {
        color: $color-text-primary;
        margin-left: auto;
        margin-right: auto;
    }

    &__menu-button{
        background-color: $color-background-secondary;
        border: none;
        padding-right: 1rem;
        &:hover {
            cursor: pointer;
        }
    }

    &__burger {
        color: $color-text-primary;
    }

    &__hidden-menu {
        position: absolute;
        z-index: 1;
        top: 3rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        background-color: $color-background-primary;
        border: 1px solid $color-accent-primary;
        border-radius: 0.25rem;
        opacity: 0;
        height: 0rem;
        transition: opacity 0.25s, max-height 2s;
    }

    &__visible-menu {
        position: absolute;
        z-index: 1;
        top: 3rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        background-color: $color-background-primary;
        border: 1px solid $color-accent-primary;
        border-radius: 0.25rem;
        max-height: 5rem;
        opacity: 1;
        transition: opacity 0.25s, max-height 1s;
    }

    &__menu-links {
        text-decoration: none;
        color: $color-text-primary;
        padding: 0.25rem 0.5rem;
        border-bottom: 1px solid $color-accent-primary;
        height: 2rem;
        opacity: 1;
        transition: opacity 0.25s, max-height 1s;

        &:hover {
            cursor: default;
        }

        &:visited {
            text-decoration: none;
            color: $color-text-primary;
        }

        &--button {
            background-color: $color-background-primary;
            color: $color-text-primary;
            border: none;
            border-radius: 0.25rem;
            padding: 0.25rem 0.5rem;
            font-family: 'Montserrat';
            text-align: left;
            font-size: 1rem;
            height: inherit;
            opacity: 1;
            transition: opacity 0.25s, max-height 1s;
            }
    }


}