@use "../../styles/partials/variables" as *;

.header-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: $color-background-secondary;
    border-bottom: 1px solid $color-accent-primary;

    &__title {
        color: $color-text-primary;
        margin-left: auto;
        margin-right: auto;
    }

    &__menu-button{
        background-color: $color-background-secondary;
        border: none;
    }

    &__hidden-menu {
        position: absolute;
        z-index: 1;
        top: 4rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        background-color: $color-background-primary;
        border: 1px solid $color-accent-primary;
        border-radius: 0.25rem;
        transition: opacity 0.1s;
        opacity: 0;


    }

    &__menu-links {
        text-decoration: none;
        color: $color-text-primary;
        padding: 0.25rem 0.5rem;
        border-bottom: 1px solid $color-accent-primary;

        &:visited {
            text-decoration: none;
            color: $color-text-tertiary;
        }
    }

    &__visible-menu {
        position: absolute;
        z-index: 1;
        top: 4rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        background-color: $color-background-primary;
        border: 1px solid $color-accent-primary;
        border-radius: 0.25rem;
        transition: opacity 0.25s;
        opacity: 1;
    }
}

.test { color: rgba(255, 255, 255, 1); }

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}