@use "../../styles/partials/variables" as *;

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: $color-background-secondary;
    border-bottom: 1px solid $color-accent-primary;

    &__title {
        color: $color-text-primary;
    }
}