@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.place-search {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__label {
        color: $color-success;
    }

    &__input {
        @include input;
    }

    &__button {
        @include button;
    }
}

.weather {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.25rem;

    &__container {
        max-width: 55%;
    }

    &__button {
        @include button;
        max-height: 2rem;
    }

    &__subtitle {
        font-weight: lightest;
        padding: 0.15rem;
        letter-spacing: 0.02rem;
    }

    &__details {
        font-weight: bold;
        letter-spacing: 0.02rem;
    }
}

.place {
    text-align: center;
}
